/* FONDU */
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease;
}
.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}
.fade-enter-to,
.fade-leave-from {
  opacity: 1;
}

/* SLIDE LEFT */
.slide-left-enter-active,
.slide-left-leave-active {
  transition:
    transform 0.4s ease,
    opacity 0.4s ease;
}
.slide-left-enter-from {
  transform: translateX(100%);
  opacity: 0;
}
.slide-left-enter-to {
  transform: translateX(0);
  opacity: 1;
}
.slide-left-leave-from {
  transform: translateX(0);
  opacity: 1;
}
.slide-left-leave-to {
  transform: translateX(-100%);
  opacity: 0;
}

/* SLIDE RIGHT */
.slide-right-enter-active,
.slide-right-leave-active {
  transition:
    transform 0.4s ease,
    opacity 0.4s ease;
}
.slide-right-enter-from {
  transform: translateX(-100%);
  opacity: 0;
}
.slide-right-enter-to {
  transform: translateX(0);
  opacity: 1;
}
.slide-right-leave-from {
  transform: translateX(0);
  opacity: 1;
}
.slide-right-leave-to {
  transform: translateX(100%);
  opacity: 0;
}

/* ZOOM */
.zoom-enter-active,
.zoom-leave-active {
  transition: all 0.4s ease;
}
.zoom-enter-from {
  transform: scale(0.8);
  opacity: 0;
}
.zoom-enter-to {
  transform: scale(1);
  opacity: 1;
}
.zoom-leave-from {
  transform: scale(1);
  opacity: 1;
}
.zoom-leave-to {
  transform: scale(0.8);
  opacity: 0;
}

/* OUT IN */
.out-in-enter-active,
.out-in-leave-active {
  transition: opacity 0.5s ease;
}
.out-in-enter-from,
.out-in-leave-to {
  opacity: 0;
}
.out-in-enter-to,
.out-in-leave-from {
  opacity: 1;
}

/* ZOOM OUT */
.zoom-out-enter-active,
.zoom-out-leave-active {
  transition: all 0.4s ease;
}
.zoom-out-enter-from {
  transform: scale(1.2);
  opacity: 0;
}
.zoom-out-enter-to {
  transform: scale(1);
  opacity: 1;
}
.zoom-out-leave-from {
  transform: scale(1);
  opacity: 1;
}
.zoom-out-leave-to {
  transform: scale(1.3);
  opacity: 0;
}
